.product-card {
    background-color: #f8f8f8;
    padding: 1.75rem;
    border-radius: 15px;
    border: 1px solid #b3b3b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card-top {
    margin-bottom: 0.5rem;
}

.card-top,
.card-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 325px;
    height: 325px;
}

.card-middle {
    width: 100%;
    gap: 1rem;
}

.card-price-rating,
.card-stock-status {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add-to-cart-btn {
    cursor: pointer;
    padding: 0.55rem 2rem;
    width: 100%;
}

.quantity-container {
    background-color: rgb(196, 225, 252);
    padding: 0.5rem 1.5rem;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-container button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}